@font-face {
    font-family: 'Sailec';
    src: url('../fonts/Sailec-BlackItalic.eot');
    src: url('../fonts/Sailec-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Sailec-BlackItalic.woff2') format('woff2'),
        url('../fonts/Sailec-BlackItalic.woff') format('woff'),
        url('../fonts/Sailec-BlackItalic.ttf') format('truetype'),
        url('../fonts/Sailec-BlackItalic.svg#Sailec-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sailec';
    src: url('../fonts/Sailec-Black.eot');
    src: url('../fonts/Sailec-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Sailec-Black.woff2') format('woff2'),
        url('../fonts/Sailec-Black.woff') format('woff'),
        url('../fonts/Sailec-Black.ttf') format('truetype'),
        url('../fonts/Sailec-Black.svg#Sailec-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sailec';
    src: url('../fonts/Sailec-BoldItalic.eot');
    src: url('../fonts/Sailec-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Sailec-BoldItalic.woff2') format('woff2'),
        url('../fonts/Sailec-BoldItalic.woff') format('woff'),
        url('../fonts/Sailec-BoldItalic.ttf') format('truetype'),
        url('../fonts/Sailec-BoldItalic.svg#Sailec-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sailec';
    src: url('../fonts/Sailec-Bold.eot');
    src: url('../fonts/Sailec-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Sailec-Bold.woff2') format('woff2'),
        url('../fonts/Sailec-Bold.woff') format('woff'),
        url('../fonts/Sailec-Bold.ttf') format('truetype'),
        url('../fonts/Sailec-Bold.svg#Sailec-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sailec Hairline';
    src: url('../fonts/Sailec-HairlineItalic.eot');
    src: url('../fonts/Sailec-HairlineItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Sailec-HairlineItalic.woff2') format('woff2'),
        url('../fonts/Sailec-HairlineItalic.woff') format('woff'),
        url('../fonts/Sailec-HairlineItalic.ttf') format('truetype'),
        url('../fonts/Sailec-HairlineItalic.svg#Sailec-HairlineItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sailec Hairline';
    src: url('../fonts/Sailec-Hairline.eot');
    src: url('../fonts/Sailec-Hairline.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Sailec-Hairline.woff2') format('woff2'),
        url('../fonts/Sailec-Hairline.woff') format('woff'),
        url('../fonts/Sailec-Hairline.ttf') format('truetype'),
        url('../fonts/Sailec-Hairline.svg#Sailec-Hairline') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sailec';
    src: url('../fonts/Sailec-LightItalic.eot');
    src: url('../fonts/Sailec-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Sailec-LightItalic.woff2') format('woff2'),
        url('../fonts/Sailec-LightItalic.woff') format('woff'),
        url('../fonts/Sailec-LightItalic.ttf') format('truetype'),
        url('../fonts/Sailec-LightItalic.svg#Sailec-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sailec';
    src: url('../fonts/Sailec-MediumItalic.eot');
    src: url('../fonts/Sailec-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Sailec-MediumItalic.woff2') format('woff2'),
        url('../fonts/Sailec-MediumItalic.woff') format('woff'),
        url('../fonts/Sailec-MediumItalic.ttf') format('truetype'),
        url('../fonts/Sailec-MediumItalic.svg#Sailec-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sailec';
    src: url('../fonts/Sailec-Light.eot');
    src: url('../fonts/Sailec-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Sailec-Light.woff2') format('woff2'),
        url('../fonts/Sailec-Light.woff') format('woff'),
        url('../fonts/Sailec-Light.ttf') format('truetype'),
        url('../fonts/Sailec-Light.svg#Sailec-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sailec';
    src: url('../fonts/Sailec-Medium.eot');
    src: url('../fonts/Sailec-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Sailec-Medium.woff2') format('woff2'),
        url('../fonts/Sailec-Medium.woff') format('woff'),
        url('../fonts/Sailec-Medium.ttf') format('truetype'),
        url('../fonts/Sailec-Medium.svg#Sailec-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sailec';
    src: url('../fonts/Sailec-RegularItalic.eot');
    src: url('../fonts/Sailec-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Sailec-RegularItalic.woff2') format('woff2'),
        url('../fonts/Sailec-RegularItalic.woff') format('woff'),
        url('../fonts/Sailec-RegularItalic.ttf') format('truetype'),
        url('../fonts/Sailec-RegularItalic.svg#Sailec-RegularItalic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sailec';
    src: url('../fonts/Sailec-Regular.eot');
    src: url('../fonts/Sailec-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Sailec-Regular.woff2') format('woff2'),
        url('../fonts/Sailec-Regular.woff') format('woff'),
        url('../fonts/Sailec-Regular.ttf') format('truetype'),
        url('../fonts/Sailec-Regular.svg#Sailec-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sailec';
    src: url('../fonts/Sailec-Thin.eot');
    src: url('../fonts/Sailec-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Sailec-Thin.woff2') format('woff2'),
        url('../fonts/Sailec-Thin.woff') format('woff'),
        url('../fonts/Sailec-Thin.ttf') format('truetype'),
        url('../fonts/Sailec-Thin.svg#Sailec-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sailec';
    src: url('../fonts/Sailec-ThinItalic.eot');
    src: url('../fonts/Sailec-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Sailec-ThinItalic.woff2') format('woff2'),
        url('../fonts/Sailec-ThinItalic.woff') format('woff'),
        url('../fonts/Sailec-ThinItalic.ttf') format('truetype'),
        url('../fonts/Sailec-ThinItalic.svg#Sailec-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

